/* ********************=======All WEB********************======= */
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
/*for rem its means 1rem = 10px*/
html{
	font-size: 62.5%;
	/*	scroll-behavior: smooth;	*/
}
/* ********************==ALL BG==**************** */
body{
	text-rendering: optimizeLegibility;
	line-height: 1.42857143;

	background-color: #e6eae9;
	border-top: 3px solid #006db1;
}
ul {
	list-style: none;
}
ul li{
	text-decoration: none;
}
a{
	text-decoration: none;
}
/* ********************==REUSABLE==**************** */
:root{
	--twoOne: 2.5fr 1.2fr;
	--twoOneHead: 1.8fr 1.2fr;
	--twoOneSmall: 2.6fr 1.1fr;
}

a:link, a:visited{
	color: #000;
	text-decoration: none;
}
a:hover, a:active{
	color: #006db1;
	cursor: pointer;
}

h1{
	color: #000;
	display: block;
    font-size: 24px;
    margin: 10px 0;
    font-weight: lighter;
	/*    font-weight: 400;*/
}
a:hover h1{
	color: #006db1;
}
h2{
	font-size: 20px;
}

p{
	font-size: 14px;
	margin: 8px 0 10px;
    font-weight: lighter;	
}
.pDiffrent{
	font-size: 18px;	
}

.btn{
	background-color: #999;
	padding: 5px;
	border: none;
	cursor: pointer;
}
.btnDiffrent{
	background-color: #b4eeb4;
    color: #555;
    font-size: 20px;
    padding: 10px 15px;
    border: none;
}
.btnDiffrent:hover{
	background-color: #FFFFFF;
}

.imgDiv{
	width: 100%;
	height: 100%;
}
.imgDiv img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

section{
	margin: 10px;	
}
/* ********************==GRID SYSTEM==**************** */
.border{
	margin: 5vh 5vw;
	background: #fff;
    box-shadow: 0 0 2px -1px;
    padding: 5px;
}
.gcontainer{
/*	border: 5px solid red;*/

	display: grid;
	gap: 10px;	
}
.fcontainer{
/*	border: 5px solid red;*/

	display: flex;
	gap: 10px;	
	margin: 10px;
}
.items{
/*	border: 5px solid blue;*/

}
#top-item-1{
	grid-area: 1/ 1/ 3/ 4;
}

/* ********************==TOPup SECTION==**************** */
.topUp{
	display: flex;
}
#topUpitem2,#topUpitem3{
	margin-left: auto;
}
.topUpBg{
	margin: 0vh 5vw;
	color: #333;

    padding: 5px 0 2px;
}

.time{
	font-size: 12px;
	color: #333;
}

.search{
	border: 1px solid #006db1;
	padding: 1.5px;
	caret-color: rgb(0 0 0 / 50%);
	color: rgb(0 0 0 / 85%);
}
.search:focus{
	border: 1px solid #000;
}
.search::placeholder{
	color: rgb(0 0 0 / 60%);
}
.searchBtn{
	font-size: 12px;
	background: #fff;
	padding: 3px;
	border: 1px solid gray;
	border-radius: 1px;
}

.socialTopDivIcon{
	width: 50px;
}
.btnIcons .imgDiv{
	width: 18px;
	height: 18px;
}
#btnIcon3{
	float: right;
	margin-right: 4px;	
}
.btnLanguage{
	color: #fff;
	background: #006db1;
	border: none;
	padding: 3px 6px;
	margin-left: 10px;
}

/* ********************==HEADER NAV SECTION==**************** */
.header{
	display: flex;
	gap: 20px;
    padding: 0 5vw;

    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 2px -1px;
    margin-bottom: 0;
    width: 100%;
    font-size: 16px;
    z-index: 99999;
}
}
.navbarRow{
	display: flex;
	flex-direction: column;
}

.logoDiv .imgDiv{
	margin-top: 5px;
	width: 142px;
	height: 42px;
}

.logosRight1{
	display: flex;
	gap: 20px;
}
.logosRight2{
	display: flex;
	gap: 20px;
}
.logosRight .imgDiv{
	width: 15px;
	height: 16px;
}
.linkNavDivPad{
	padding: 2px;
}
.linkNavDiv:hover{
	background: #E9262A;
}
/*.logosRight a:link, a:visited{
	font-size: 16px;
	color: #000;
	text-decoration: none;
}*/

/* ********************==TOP SECTION==**************** */
.top{
	grid-template-columns: var(--twoOne);
}

.main{
	grid-template-columns: var(--twoOneHead);
	margin-bottom: 40px;
}
.leftMain{
	height: 358px;
}
.leftMain .imgDiv{
	height: 211px;
}

.mainIn{
	grid-template-rows: repeat(2, 1fr);
}
.mainIn .imgDiv{
	height: 134px;
}
.leftMainIn{
	height: 177px;
}

.under{
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(5, 1fr);	
}
.content{
	height: 200px;
}
.content .imgDiv{
	height: 127px;
}

.sideScroll{
	grid-template-rows: repeat(15, 1fr);
	grid-auto-rows: 1fr;
	height: 20%;
	overflow: auto;	
}
.right{
	/*	text-align: right;*/
    margin-bottom: 0;
    font-size: 13px;
    color: #555;
	float: right;
}
.itmemsSide{
	border-bottom: 1px solid red;
	padding: 5px;
}
.itmemsSide:first-child{
	border-bottom: none;
}

/* ********************==POLITICS SECTION==**************** */
.politicsNews{
	grid-template-columns: var(--twoOne);
}
.leftSide{
	grid-template-columns: 1fr 1fr;
	margin-bottom: 40px;
}
.politicsImg{
}
.politicsImg .imgDiv{
	width: 104px;
	height: 58px;
	float: left;
	margin-right: 10px;
}
.politicsHead{
}
.btnAll{
	float: right;
	margin: 2%;
}

.followSide{
	height: 130px;
	border: 5px solid red;
	padding: 2%;
	margin-top: 20%;
}
.pageNameDiv{
	grid-template-columns: 1fr 3fr;
	margin-bottom: 5%;
}
.pageNameDiv .imgDiv{
	height: 50px;
}
#btnFollow1{
	float: left;
}
#btnFollow2{
	float: right;
}

/* ********************==DAILY SECTION==**************** */
.daily{
	grid-template-columns: var(--twoOne);	
}
.dailyLeft{
	grid-template-columns: 1.2fr 2fr;
	margin-top: 10px;
	margin-bottom: 40px;	
}
.dailyLeft1{}
.dailyLeft1 .imgDiv{
	height: 147px;
}
.dailyLeft2{
	flex-direction: column;
	margin: 0;
}
.dailyLeft2 .imgDiv{
	float: left;
	margin-right: 10px;
	width: 120px;
	height: 58px;
}
.dailyLeftLast{
	grid-template-columns: 1fr 1fr;
	margin-top: 10px;
	margin-bottom: 20px;
}
.dailyLeftLast1{}
.dailyLeftLast1 .imgDiv{
	height: 177px;
}

.dailyRight{
	margin-top: 10px;
	margin-bottom: 40px;
}
.marginBot{
	margin-bottom: 5px;
}
.dailyRight .imgDiv{
	height: 149px;
}
.borderBot:first-child{
	border-bottom: 1px solid red;
}
.borderBot{
	border-bottom: 1px dotted red;
}
.dailyRightVideo{
	grid-template-columns: 1fr;
}
.dailyRightVideo .imgDiv{
	float: left;
	margin-right: 10px;
	width: 85px;
	height: 64px;
}

/* ********************==PLAY SECTION==**************** */
.borderBotAll{
	border-bottom: 1px solid red;
}
.play{
	grid-template-columns: var(--twoOneSmall);
}
.playLeft{
	grid-template-columns: 1fr 2fr;
}
.playLeft1 .imgDiv{
	height: 128px;
}
.playLeft2 .imgDiv{
	height: 239px;
}

.playRight{
	grid-template-columns: 1fr 2.5fr;
}
.playRight .imgDiv{
	height: 32px;
}

/* ********************==INTERTAINMENT SECTION==**************** */
.inter{
	grid-template-columns: var(--twoOneSmall);
}
.interLeft{
	grid-template-columns: 1fr 2fr;
}
.interLeft1 .imgDiv{
	height: 128px;
}
.interLeft2 .imgDiv{
	height: 239px;
}

.interRight .imgDiv{
	height: 128px;
}

/* ********************==LIFE SECTION==**************** */
.life{
	grid-template-columns: var(--twoOne);
}
.lifeLeft{
	grid-template-columns: 1.5fr 2fr;
}
.lifeLeft1 .imgDiv{
	height: 147px;
}
.lifeLeft2{
	flex-direction: column;
}
.lifeLeft2 .imgDiv{
	float: left;
	width: 120px;
	height: 66px;
}

.lifeRight{
	grid-template-columns: 1fr 2.2fr;
}
.lifeRight .imgDiv{
	height: 41px;
}

/* ********************==PHOTO SECTION==**************** */
.photo{
	grid-template-columns: var(--twoOne);
}
.photoLeft .imgDiv{
	height: 380px;
}
.overlay{	
	position: relative;
}
.overlayHead{
	background: rgb(0 0 0 / 50%);
	color: #fff;
	position: absolute;
	bottom: 0px;
}
.photoLeft .fcontainer{
	margin: 0px;
}
.overlayBot{
	justify-content: center;
	background: #555;
	border-top: 1px solid #555;
    box-shadow: 0 10px 10px -5px #333 inset;	
}
.overlayBot .imgDiv{
	width: 78px;
	height: 47px;
}

.photoRight{
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(4, 1fr);
}
.photoRight .imgDiv{
	height: 81px;
}

/* ********************==TECH SECTION==**************** */
.tech{
	grid-template-columns: repeat(3, 1fr);
}
.tech .imgDiv{
	height: 162px;
}

/* ********************==TOUR SECTION==**************** */
.tour{
	grid-template-columns: var(--twoOne);
}
.tourLeft{
	grid-template-columns: 1.5fr 2fr;
}
.tourLeft1 .imgDiv{
	height: 147px;
}
.tourLeft2{
	flex-direction: column;
}
.tourLeft2 .imgDiv{
	float: left;
	width: 120px;
	height: 66px;
}

.tourRight .imgDiv{
	height: 149px;
}
.headSide{
	border-bottom: 1px solid red;
}
.pSide1{
	border-bottom: 1px dotted red;
}

/* ********************==HEALTH SECTION==**************** */
.health{
	grid-template-columns: repeat(4, 1fr);
}
.health .imgDiv{
	height: 117px;
}

/* ********************==ENVIR SECTION==**************** */
/*code same to TOUR*/

/* ********************==ENGLISH SECTION==**************** */
/*code same to TOUR && Diffrents Something Below*/
.archive{
	border: 1px solid red;
	border-radius: 2px;
}

/* ********************==FOOTER SECTION==**************** */
.footerBg{
	background: #2f2f2f;
	padding: 5vh 5vw;	
}
.first{
	justify-content: center;
}
.footerBorder{
	border: 1px solid #699;
	padding: 5px;
}
.footerBorder:hover{
	background: #699;	
}
.first a.footerLink:link, a.footerLink:visited{
	font-size: 16px;
	color: #fff;
	text-decoration: none;
}
.first a.footerLink:hover{
	text-decoration: underline;
}

.middle{
	justify-content: space-between;
}
.middle .imgDiv{
	width: 140px;
	height: 60px;
}
.socialBottomDiv .imgDiv{
	width: 30px;
	height: 30px;
}

.last{
	text-align: center;
}
.author{
	color: rgb(118, 238, 198);
	font-size: 18px;
	margin: 15px 0;
}
.last p{
	line-height: 18px;
	font-size: 12px;
	color: #fff;
}
/* ********************==TOP SECTION==**************** */

