/* ********************=======All WEB********************======= */
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
/*for rem its means 1rem = 10px*/
html{
/*	font-size: 62.5%;*/
	/*	scroll-behavior: smooth;	*/
}
/* ********************==ALL BG==**************** */
body{
	text-rendering: optimizeLegibility;
	line-height: 1.42857143;

	background-color: #e6eae9;
}
ul {
	list-style: none;
}
ul li{
	text-decoration: none;
}
a{
	text-decoration: none;
}
/* ********************==REUSABLE==**************** */
:root{
	--twoOne: 2.5fr 1.2fr;
	--twoOneHead: 1.8fr 1.2fr;
	--twoOneSmall: 2.6fr 1.1fr;
}

a, a:link, a:visited{
	color: #000;
	text-decoration: none;
}
a:hover, a:active{
	color: #006db1;
	cursor: pointer;
}

h1{
	color: #000;
	display: block;
    font-size: 24px;
    margin: 10px 0;
    font-weight: lighter;
	/*    font-weight: 400;*/
}
a:hover h1{
	color: #006db1;
}
h2{
	font-size: 20px;
}

p{
	font-size: 14px;
	margin: 8px 0 10px;
    font-weight: lighter;	
}
.pDiffrent{
	font-size: 18px;	
}

.btn{
	background-color: #999;
	padding: 5px;
	border: none;
	cursor: pointer;
    border-radius: 1px;	
}
.btnDiffrent{
	background-color: #b4eeb4;
    color: #555;
    font-size: 20px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
}
.btnDiffrent:hover{
	background-color: #FFFFFF;
}

.imgDiv{
	width: 100%;
	height: 100%;
}
.imgDiv img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

section{
	margin: 10px;	
}
/* ********************==GRID SYSTEM==**************** */
.border{
	margin: 5vh 5vw;
	background: #fff;
    box-shadow: 0 0 2px -1px;
    padding: 5px;
}
.gcontainer{
	display: grid;
	gap: 10px;	
}
.fcontainer{
	display: flex;
	gap: 10px;	
	margin: 10px;
}

/* ********************==TOPup SECTION==**************** */
.topUp{
	display: flex;
	border-top: 3px solid #006db1;
	padding: 1.5vh 5vw;
	color: #333;

	position: sticky;
	top: 0;
}
#topUpitem2,#topUpitem3{
	margin-left: auto;
}

.timeTopUp{
	font-size: 12px;
}

.search{
	border: 1px solid #006db1;
	padding: 1.5px;
	caret-color: rgb(0 0 0 / 50%);
	color: rgb(0 0 0 / 85%);
}
.search:focus{
	border: 1px solid #000;
}
.search::placeholder{
	color: rgb(0 0 0 / 60%);
}
.searchBtn{
	font-size: 12px;
	background: #fff;
	padding: 3px;
	border: 1px solid gray;
	border-radius: 1px;
}

.socialTopDivIcon{
	width: 50px;
}
.btnIcons .imgDiv{
	width: 18px;
	height: 18px;
}
#btnIcon3{
	float: right;
	margin-right: 4px;	
}
.btnLanguage{
	color: #fff;
	background: #006db1;
	border: none;
	padding: 3px 6px;
	margin-left: 10px;
}

/* ********************==HEADER NAV SECTION==**************** */
.header{
	display: flex;
	gap: 20px;
    padding: 1.5vh 5vw;

	position: sticky;
	top: 0;

    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 2px -1px;
    margin-bottom: 0;
    width: 100%;
    font-size: 16px;
    z-index: 99999;
}

.navbarRow{
	display: flex;
	flex-direction: column;
}

.logoDiv .imgDiv{
	margin-top: 5px;
	width: 142px;
	height: 42px;
}

.logosRight1{
	display: flex;
	gap: 20px;
}
.logosRight2{
	display: flex;
	gap: 20px;
}
.logosRight .imgDiv{
	width: 15px;
	height: 16px;
}
.linkNavDivPad{
	padding: 2px;
}
.linkNavDiv:hover{
	background: #E9262A;
}

.sub-menu-1 {
	display: none;
}
.linkNavDiv:hover .sub-menu-1 {
	display: block;
	position: absolute;
	background: rgb(0,100,0);
	margin-left: -15px;
	z-index: 5;
}
.linkNavDiv:hover .sub-menu-1 ul {
	display: block;
	margin: 10px;
}
.linkNavDiv:hover .sub-menu-1 ul li {
	width: 100%;
	padding: 10px;
	border-bottom: 1px dotted #fff;
	background: transparent;
	border-radius: 0;
	text-align: left;
}
.linkNavDiv:hover .sub-menu-1 ul li:last-child {
	border-bottom: none;
}
.linkNavDiv:hover .sub-menu-1 ul li a:hover {
	color: #b2ff00;
}
/*.logosRight a:link, a:visited{
	font-size: 16px;
	color: #000;
	text-decoration: none;
}*/

/* ********************==TOP SECTION==**************** */
.top{
	grid-template-columns: var(--twoOne);
}

.main{
	grid-template-columns: var(--twoOneHead);
	margin-bottom: 40px;
}
.leftMain{
	height: 358px;
}
.leftMain .imgDiv{
	height: 211px;
}

.mainIn{
	grid-template-rows: repeat(2, 1fr);
}
.mainIn .imgDiv{
	height: 134px;
}
.leftMainIn{
	height: 177px;
}

.under{
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(5, 1fr);	
}
.content{
	height: 200px;
}
.content .imgDiv{
	height: 127px;
}

.sideScroll{
	grid-template-rows: repeat(15, 1fr);
	grid-auto-rows: 1fr;
	height: 20%;
	overflow: auto;	
}
.right{
	/*	text-align: right;*/
    margin-bottom: 0;
    font-size: 13px;
    color: #555;
	float: right;
}
.itmemsSide{
	border-bottom: 1px solid red;
	padding: 5px;
}
.itmemsSide:first-child{
	border-bottom: none;
}

/* ********************==POLITICS SECTION==**************** */
.politicsNews{
	grid-template-columns: var(--twoOne);
}
.leftSide{
	grid-template-columns: 1fr 1fr;
	margin-bottom: 40px;
}
.politicsImg{
}
.politicsImg .imgDiv{
	width: 104px;
	height: 58px;
	float: left;
	margin-right: 10px;
}
.politicsHead{
}
.btnAll{
	float: right;
	margin: 2%;
}

.followSide{
	height: 130px;
	border: 5px solid red;
	padding: 2%;
	margin-top: 20%;
}
.pageNameDiv{
	grid-template-columns: 1fr 3fr;
	margin-bottom: 5%;
}
.pageNameDiv .imgDiv{
	height: 50px;
}
#btnFollow1{
	float: left;
}
#btnFollow2{
	float: right;
}

/* ********************==DAILY SECTION==**************** */
.daily{
	grid-template-columns: var(--twoOne);	
}
.dailyLeft{
	grid-template-columns: 1.2fr 2fr;
	margin-top: 10px;
	margin-bottom: 40px;	
}
.dailyLeft1{}
.dailyLeft1 .imgDiv{
	height: 147px;
}
.dailyLeft2{
	flex-direction: column;
	margin: 0;
}
.dailyLeft2 .imgDiv{
	float: left;
	margin-right: 10px;
	width: 120px;
	height: 58px;
}
.dailyLeftLast{
	grid-template-columns: 1fr 1fr;
	margin-top: 10px;
	margin-bottom: 20px;
}
.dailyLeftLast1{}
.dailyLeftLast1 .imgDiv{
	height: 177px;
}

.dailyRight{
	margin-top: 10px;
	margin-bottom: 40px;
}
.marginBot{
	margin-bottom: 5px;
}
.dailyRight .imgDiv{
	height: 149px;
}
.dailyRight .borderBot:first-child{
	border-bottom: 1px solid red;
}
.borderBot{
	border-bottom: 1px dotted red;
}
.dailyRightVideo{
	grid-template-columns: 1fr;
}
.dailyRightVideo .imgDiv{
	float: left;
	margin-right: 10px;
	width: 85px;
	height: 64px;
}

/* ********************==PLAY SECTION==**************** */
.borderBotAll{
	border-bottom: 1px solid red;
}
.outHead{
	margin-left: 10px;
}
.play{
	grid-template-columns: var(--twoOneSmall);
}
.playLeft{
	grid-template-columns: 1fr 2fr;
}
.playLeft1 .imgDiv{
	height: 128px;
}
.playLeft2 .imgDiv{
	height: 239px;
}

.playRight{
	grid-template-rows: repeat(3, 1fr);
}
.fRightTwo{
	grid-template-columns: 1fr 3fr;
}
.playRight .imgDiv{
	width: 58px;
	height: 32px;
}

/* ********************==INTERTAINMENT SECTION==**************** */
.inter{
	grid-template-columns: var(--twoOneSmall);
}
.interLeft{
	grid-template-columns: 1fr 2fr;
}
.interLeft1 .imgDiv{
	height: 128px;
}
.interLeft2 .imgDiv{
	height: 239px;
}

.interRight .imgDiv{
	height: 128px;
}

/* ********************==LIFE SECTION==**************** */
.life{
	grid-template-columns: var(--twoOne);
}
.lifeLeft{
	grid-template-columns: 1.5fr 2fr;
}
.lifeLeft1 .imgDiv{
	height: 147px;
}
.lifeLeft2{
	flex-direction: column;
	margin: 0px;
}
.lifeLeft2 .imgDiv{
	float: left;
	margin-right: 10px;
	width: 120px;
	height: 66px;
}

.lifeRight{
	grid-template-rows: 1fr;
}
.lifeRightTwo{
	grid-template-columns: 1fr 3fr;
}
.lifeRight .imgDiv{
	height: 41px;
}

/* ********************==PHOTO SECTION==**************** */
.photo{
	grid-template-columns: var(--twoOne);
}
.photoLeft .imgDiv{
	height: 380px;
}
.overlay{	
	position: relative;
}
.overlayHead{
	background: rgb(0 0 0 / 50%);
	color: #fff;
	position: absolute;
	bottom: 0px;
}
.photoLeft .fcontainer{
	margin: 0px;
}
.overlayBot{
	justify-content: center;
	background: #555;
	border-top: 1px solid #555;
    box-shadow: 0 10px 10px -5px #333 inset;	
}
.overlayBot .imgDiv{
	width: 78px;
	height: 47px;
	margin: 15px 0px;
}

.photoRight{
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(4, 1fr);
}
.photoRight .imgDiv{
	height: 81px;
}

/* ********************==TECH SECTION==**************** */
.tech{
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}
.techHead{
	margin-bottom: 10px;
}
.tech .imgDiv{
	height: 162px;
}
.borderBotSolid{
	border-bottom: 1px solid red;
	padding-bottom: 15px;
}
.borderBotDot{
	border-bottom: 1px dotted red;
	padding-bottom: 15px;
}

/* ********************==TOUR SECTION==**************** */
.tour{
	grid-template-columns: var(--twoOne);
}
.tourLeft{
	grid-template-columns: 1.5fr 2fr;
}
.tourLeft1 .imgDiv{
	height: 147px;
}
.tourLeft2{
	flex-direction: column;
	margin: 0px;
}
.tourLeft2 .imgDiv{
	float: left;
	width: 120px;
	height: 66px;
	margin-right: 10px;
}

.tourRight .imgDiv{
	height: 149px;
}
.headSide{
	border-bottom: 1px solid red;
}
.pSide1{
	border-bottom: 1px dotted red;
}

/* ********************==HEALTH SECTION==**************** */
.health{
	grid-template-columns: repeat(4, 1fr);
}
.health .imgDiv{
	height: 117px;
}

/* ********************==ENVIR SECTION==**************** */
/*code same to TOUR*/

/* ********************==ENGLISH SECTION==**************** */
/*code same to TOUR && Diffrents Something Below*/
.archive{
	border: 1px solid red;
	border-radius: 2px;
}


/* ********************==CategoryPage SECTION==**************** */
.CategoryPageHead{
	background: #C5D1DC;
	padding: 1px;	
}
.CategoryPageHead h1{
	font-size: 37px;
	color: #333;
	margin-left: 80px;
}

.CategoryPageunder{	
	grid-template-columns: repeat(3, 1fr);
	margin-bottom: 50px;
}
.CategoryPagecontentP{
	padding: 10px;
	margin-top: -0px;
	background: #ccc;
	color: #000;
	height: 60px;
	width: 202px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.CategoryPagecontentP:hover{
	color: #006db1;
	cursor: pointer;	
}
a.CategoryPageLink:hover, a.CategoryPageLink:active{
	color: #006db1;
	cursor: pointer;
}

.popular h1{
	padding: 10px;
    margin: 0 0 10px;
    color: #fff;
    background: #2f2f2f;
    font-size: 22px;
}

.CategoryPagetourLeft2 .imgDiv{
	float: left;
	width: 218px;
	height: 121px;
	margin-right: 10px;
}
.CategoryPageunderHead{
	font-size: 22px;
	color: #000;
}
.CategoryPageunderHead:hover{
	color: #006db1;
	cursor: pointer;
}
.CategoryPageunderSubHead{
	margin: 0 0 10px;
}
.borderBotGray{
	border-bottom: 0.5px solid #80808042;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.bor{
	display: inline-block;
	border: 1px solid #7e8891;
	border-radius: 3px;
}
.paginate{
	margin: 0px;	
}
.paginateItems{
	border-left: 1px solid #7e8891;
	font-size: 18px;
	color: #337ab7;
	text-align: center;
	padding: 5px 10px;
	cursor: pointer;
}
.paginateItems:not(#paginateItem13){
	margin-right: -10px;	
}
#paginateItem1{
	background: #337ab7;
	color: #fff;
}

.recent{
	justify-content: space-between;
	margin: 0px;
	margin-right: 50px;
	margin-top: 10px;
}
.old{
	margin: 0 0 10px;
}
.selection{
	border: none;
	border-radius: 3px;
	background: #337ab7;
	color: #fff;
	padding: 10px;
	cursor: pointer;
}

/* ********************==SinglePage SECTION==**************** */
.btnAllNews{
	color: #fff;
    background-color: #449d44;
    border-color: #398439;
}
.SingleMain .imgDiv{
	height: 362px;
}
.moreRead{
	color: #025202;
	border-bottom: 0.5px solid gray;
	font-weight: bold;
	font-size: 16px;
}
.moreReadBtn{
	color: #fff;
    background-color: #ac2925;
    border-color: #761c19;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}
.SingleIcon{
	grid-template-columns: repeat(2, 1fr);
	gap: 150px;
}
.fb{
	background: blue;
	color: white;
	border-radius: 3px;
}
.tt{
	background: black;
	color: white;
	border-radius: 3px;
}
.yt{
	background: red;
	color: white;
	border-radius: 3px;
}
.flLogo .imgDiv{
	width: 50px;
	height: 50px;
	float: left;
	margin-right: 10px;
}
.webName{
	color: blue;
	cursor: pointer;
}
.fl{
	background: white;
	border: 1px solid gray;
	border-radius: 3px;
}
.copy{
	font-size: 14px;
	line-height: 2;
}




/* ********************==FOOTER SECTION==**************** */
.footerBg{
	background: #2f2f2f;
	padding: 5vh 5vw;	
}
.first{
	justify-content: center;
}
.footerBorder{
	border: 1px solid #699;
	padding: 5px;
}
.footerBorder:hover{
	background: #699;	
}
.first a.footerLink:link, a.footerLink:visited{
	font-size: 16px;
	color: #fff;
	text-decoration: none;
}
.first a.footerLink:hover{
	text-decoration: underline;
}

.middle{
	justify-content: space-between;
}
.middle .imgDiv{
	width: 140px;
	height: 60px;
}
.socialBottomDiv .imgDiv{
	width: 30px;
	height: 30px;
}

.last{
	text-align: center;
}
.author{
	color: rgb(118, 238, 198);
	font-size: 18px;
	margin: 15px 0;
}
.last p{
	line-height: 18px;
	font-size: 12px;
	color: #fff;
}
/* ********************==End CSS==**************** */
